
services:
  app:
    build:
      context: .
      target: development
    env_file:
      - .env.development
    ports:
      - "5000:5000"
    volumes:
      - /app/node_modules
      - .:/app
    depends_on:
      - database
      - redis
    networks:
      - app-network
    restart: unless-stopped
  
  database:
    image: postgres:17.6-alpine
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: unless-stopped
  
  redis:
    image: redis:7.2.10-alpine
    env_file:
      - .env.development
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network
    restart: unless-stopped

volumes:
  postgres-data:
  redis-data:

networks:
  app-network:
    driver: bridge